.app {
  border-radius: 3px;
  display: grid;
  grid-row-gap: 1px;
  padding: 16px;
}

.app--light {
  background-color: #e8e8e8;
}

.app--dark {
  background-color: #232323;
}

.profile {
  align-items: center;
  border-radius: 3px;
  padding: 8px;
  display: grid;
  grid-column-gap: 8px;
  grid-template-columns: 72px auto;
}

.profile--light {
  background-color: #fff;
}

.profile--dark {
  background-color: #333;
}

.avatar {
  border-radius: 100%;
  max-width: 100%;
  vertical-align: middle;
}

.heading {
  font-size: 17px;
  font-weight: 600;
  margin: 0;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  text-decoration: underline;
}

.link--light {
  color: #000;
}

.link--dark {
  color: #fff;
}
