.box {
  align-items: center;
  background-color: tomato;
  color: white;
  display: flex;
  font-family: sans-serif;
  font-weight: 700;
  height: 200px;
  justify-content: center;
  width: 200px;
}

.box--small {
  height: 100px;
  width: 100px;
}

.box--medium {
  height: 200px;
  width: 200px;
}

.box--large {
  height: 400px;
  width: 400px;
}
